* {
    margin: 0;
    padding: 0;
}

.header-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: rgb(90, 44, 129);
}

.form-container{
    margin-top: 40px;
    height: 100px;
}

.header-container form{
    display: flex;
    align-items: center;
    position: relative;
}

.header-container select{
    border:none;
}

.form-select {
    width: 270px;
    height: 35px;
    font-size: 17px;
    margin: 10px;

}

.nav-bar{
    background-color: white;
    width: 100%;
    bottom: 0;
}

.form-options{
    padding: 10px;
    margin: -5px -20px -5px -5px;
}

.form-select::-webkit-scrollbar {
	display: none;
}

.header-search {
    width: 400px;
    height: 32px;
    border-radius: 5px;
    border:none;
}

.header-button-search {
    color: black;
    width: 50px;
    position:absolute;
    top:0; 
    right:0;
    z-index:10;
    border:none;
    background:transparent;
    outline:none;
}

.header-button-search:hover{
    background-color:rgb(5, 163, 142);
    color: white;
    border-radius: 5px;
}