* {
    margin: 0;
    padding: 0;
}

.header-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #5a2c81;
}

.userName {
    color:white;
    margin-left: 40px;
}

.form-container{
    display: flex;
    align-items: center;
    justify-content:center;
    width: 100%;
    margin-top: 40px;
    height: 100px;
}

.header-container form{
    display: flex;
    align-items: center;
    position: relative;
}

.header-container select{
    border:none;
}

.form-select {
    width: 270px;
    height: 35px;
    font-size: 17px;
    margin: 10px;

}

.nav-bar{
    background-color: white;
    width: 100%;
    bottom: 0;
}

.form-options{
    padding: 10px;
    margin: -5px -20px -5px -5px;
}

.form-select::-webkit-scrollbar {
	display: none;
}

.header-search {
    width: 400px;
    height: 32px;
    border-radius: 5px;
    border:none;
}

.header-button-search {
    color: black;
    width: 50px;
    position:absolute;
    top:0; 
    right:0;
    z-index:10;
    border:none;
    background:transparent;
    outline:none;
}

.header-button-search:hover{
    background-color:rgb(5, 163, 142);
    color: white;
    border-radius: 5px;
}

.button-login {
    margin-left: 80px;
    cursor: pointer;
    border:none;
    background:transparent;
    outline:none;
    display: flex;
    align-items: center;
    color: white;
    font-size: 20px;
}

/* .logo-tipo{
    display: flex;
    position: fixed;
    margin-top: 10px;
    width: 180px;
    height: 120px;
} */
