.product-card-container {
  border-radius: 10px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  margin: auto;
  margin-top: 80px;
  
}

.card {
  display: flex;
  width:300px;
  height: 380px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid rgb(77, 77, 77);
  border-radius: 5px;
  margin-left: 10px;
  margin-bottom:10px;
}

.card:hover{
  box-shadow: 0 0 10px rgb(90, 44, 129);
}

.product-card {
  display: flex;
  width: 300px;
  height: 300px;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;

}
.product-card h2{
  flex-wrap: wrap;
  font-size: 18px;
  height: 100px;
  width: 100%;
  /* border:solid red; */
}

.product-card p{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  width: 100%;
  height: 35px;
  padding: 8px;
  /* border: solid violet; */
}

.product-card  img{
  display: flex;
  text-align: center;
  width: 200px;
  height: 180px;
}

/* .product-card  img:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  transition: ease-in-out 0.5s;
} */


.add-cart {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 40px;
  margin: 4px;
  /* border:solid gold; */
}

.add-cart button{
  background-color: rgb(45, 24, 114);
  border:none;
  border-radius: 5px;
  font-size: 17px;
  padding: 10px;
  color: white;
}

.add-cart button:hover
{
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  transition: ease-in-out 0.5s;
}